@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Oauth Sample</h2>
<p><a href="http://developer.mailchimp.com/documentation/mailchimp/guides/how-to-use-oauth2/">OAUTH Flow on MailChimp</a></p>
<p>@Html.ActionLink("click to run sample", "RedirectToMailChimp")</p>
